{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <header class="header">
        <div class="top">
            <nav class="topmenu">
                <ul>
                    <li>
                        <a class="open-popup-link" href="#about">Om mig</a>
                    </li>
                    <li>
                        <a class="open-popup-link" href="#contact">Kontakta</a>
                    </li>
                </ul>
            </nav>
            <div class="logo">
                <img id="logo-img" src="{% static 'images/logotyp_heidinesset_bakgrund.png' %}" alt="Heidi Nesset">
            </div>
            <div class="social-links">
                <a href="http://instagram.com/heidinesset" class="instagram"><img src="{% static 'images/social/instagram.png' %}"></a>
                <a href="https://www.facebook.com/illusbyheidi" class="facebook"><img src="{% static 'images/social/facebook.png' %}"></a>
                <a href="http://www.pinterest.com/heyaya/" class="pinterest"><img src="{% static 'images/social/pinterest.png' %}"></a>
                <a href="http://se.linkedin.com/pub/heidi-nesset/57/874/3b1" class="linkedin"><img src="{% static 'images/social/linkedin.png' %}"></a>
            </div>
        </div>
    </header>
    <div class="about white-popup mfp-hide" id="about">
        <h1>Välkommen tjoheidi</h1>
        <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.</p>
    </div>
    <div class="contact white-popup mfp-hide" id="contact">
        tjaba
    </div>
    <div class="work" id="work">
        <!--
        <div class="filters">
            <ul>
                <li>Humour</li>
                <li>Satire</li>
                <li>Paintings</li>
            </ul>
        </div>
        -->
        <div class="listing">
        {% for artwork in artwork_list %}
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}