{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}
<div class="container main">
    <header class="header">
        <div class="top">
            <nav class="topmenu">
                <ul>
                    <li>
                        <a class="open-popup-link" href="#contact">Kontakta</a>
                    </li>
                    <li>
                        <a class="open-popup-link" href="#about">Om mig</a>
                    </li>
                </ul>
            </nav>
            <div class="logo">
                <img id="logo-img" src="{% static 'images/logotyp_heidinesset_bakgrund.png' %}" alt="Heidi Nesset">
            </div>
            <div class="social-links">
                <a href="http://instagram.com/heidinesset" class="instagram"><img src="{% static 'images/social/instagram.png' %}"></a>
                <a href="https://www.facebook.com/illusbyheidi" class="facebook"><img src="{% static 'images/social/facebook.png' %}"></a>
                <a href="http://www.pinterest.com/heyaya/" class="pinterest"><img src="{% static 'images/social/pinterest.png' %}"></a>
                <a href="http://se.linkedin.com/pub/heidi-nesset/57/874/3b1" class="linkedin"><img src="{% static 'images/social/linkedin.png' %}"></a>
            </div>
        </div>
    </header>
</div>

<div class="separator">&nbsp;</div>

<div class="about white-popup mfp-hide" id="about">
    {{ about_block.content|markdown }}
</div>
<div class="contact white-popup mfp-hide" id="contact">
    {% if contact_block and contact_block.content and contact_block.content.strip %}
    <div class="textblock">
        {{ contact_block.content|markdown }}
    </div>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <div class="left">
            <input id="id_subject" maxlength="100" name="subject" type="text" value="Ditt namn">
            <input id="id_sender" name="sender" type="email" value="din@epostadress.se">
            <input id="id_validation" maxlength="100" name="validation" type="text" value="Antispam: Fyll i mitt efternamn">
        </div>
        <div class="right">
            <textarea cols="40" id="id_message" name="message" rows="10">Meddelande</textarea>
        </div>
        <div class="buttons">
            <input type="submit" value="Skicka">
        </div>
    </form>
</div>

<div class="container">
    <div class="work" id="work">
        <!--
        <div class="filters">
            <ul>
                <li>Humour</li>
                <li>Satire</li>
                <li>Paintings</li>
            </ul>
        </div>
        -->
        <div class="listing">
        {% for artwork in artwork_list %}
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
            <div class="item">
                <a class="open-image-popup" href="{{ artwork.image.url }}">
                    <img src="{{ artwork.image_thumbnail.url }}">
                </a>
                {% if artwork.title and artwork.title.strip and artwork.show_title %}
                    <div class="background">&nbsp;</div>
                    <h4>{{ artwork.title.strip }}</h4>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="separator">&nbsp;</div>

{% if footer_block %}
<div class="container">
    <footer class="bottom">
        {{ footer_block.content|markdown }}
    </footer>
</div>
{% endif %}

{% endblock %}
